<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{base::Layout(~{::section})}">
<!--<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::Layout(~{::section})">-->

<head>
	<meta charset="UTF-8">
	<title>This is home page</title>

</head>

<body>

	<section class="banner d-flex justify-content-center align-items-center">
	    <div class="text-center">
	        <h1>Welcome to Smart Contact Saver</h1>
	        <p>Save everything important about your skills, jobs, and daily activities.</p>
	        <p>Connect, chat, and share with others just like on social media.</p>
	        <a href="#features" class="btn bg-primary-made ">Explore Features</a>
	        <a href="#signup" class="btn btn-secondary">Get Started</a>
	    </div>
	</section>

</body>

</html>